.container{
    padding: 50px;
    color: white;
}

.cont-caros{
    text-align: center;
    position: relative;
}

.cont-caros img{
    width: 900px;
    height: 550px;
}

.cont-caros .but-up{
    position: absolute;
    top: 25px;
    left: 50%;
}
.cont-caros .but-down{
    position: absolute;
    bottom: 0;
    left: 50%;
}

.cont-img{
    display: none;
}

.cont-img.active{
    display: flex;
    justify-content: center;
}
h2{

}
h2, p{
    right: 40vh;
    position: absolute;
    bottom: 60px;
}
p{
    bottom: 40px;
}

button{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.518);
    color: firebrick;
    padding: 7px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: white;
}