.container{
    padding: 50px;
}

.cont-caros{
    text-align: center;
    position: relative;
}

.cont-caros img{
    width: 900px;
    height: 550px;
}

.cont-caros .but-up{
    top: 25px;
    left: 50%;
}

.cont-caros .but-down{
    bottom: 0;
    left: 50%;
}

.cont-img{
    /* display: none; */
}

.cont-img.active{
    display: inline-block;
}

button{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.518);
    color: firebrick;
    padding: 7px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: white;
}